<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examinationsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/exam_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/exam_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProfileActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.SubjectsActivity"
            android:label="Subjects"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.LevelsActivity"
            android:parentActivityName=".ui.SubjectsActivity" />
        <activity
            android:name=".ui.StartTest"
            android:parentActivityName=".ui.LevelsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.SubmitTestActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>